<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
       <meta charset="UTF-8"/>
    <title>Flight Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" >
      <!-- See configuration in WebMvConfig.java -->
     <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
      <!--Custom styles-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <!-- Include _menu.html -->
      <div class="d-flex" id="wrapper">      
      <th:div th:include="/_sidebar"  class="bg-light border-right" id="sidebar-wrapper"> 
          </th:div>    
          <div class="container-fluid" id="page-content-wrapper"> 
          
          <div th:object="${tourist}">       
		 <h1> Tourist	<span th:text= "*{id}+ ' '+ *{firstName} + ' '  + *{lastName}">  </span> </h1>
			</div>
			
      <div th:if="${message}" class="alert alert-success" role="alert">
  	<p th:text="${message}"> success message</p>
  </div>
  <div th:if="${error}" class="alert alert-danger" role="alert">
  	<p th:text="${error}"> Error message</p>
  </div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Flight ID</th>
      <th scope="col">Departure Time</th>
      <th scope="col">Arrival Time</th>
      <th scope="col">Available seats</th>
      <th scope="col"> Price </th>

    </tr>
  </thead>
  <tbody>
   <tr th:each="flight : ${flight}"  >
            <td th:utext="${flight.id}">..</td>
           	<td th:utext="${flight.departureTime}">..</td>
           	<td th:utext="${flight.arrivalTime}">..</td>
            <td th:utext="${flight.seatsNumber}">..</td>
            <td th:utext="${flight.price}">..</td>
            
            <td>
            <div th:with="currentUrl=(${#httpServletRequest.requestURI})">
           		<a type="button" class="btn btn-danger"  th:href="@{${currentUrl} + '/delete/' + ${flight.id} }" >Delete</a>
             </div>
             </td>
        </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Add New Flight </button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="exampleModalLabel">Add new flight</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-dark" >
      	<form th:object="${test}"  action="#"   method="post" th:action="@{${currentUrl}}" >
  					<h4 class="m-2"> Select flight</h4>
		 <select class="form-control" id="testOrder" name="flightId">
	        <option th:each="test : ${test}"
	                th:value="${test.id}"
	                th:text="${test.id}+ ' ' + ${test.departureTime} +' '+${test.arrivalTime}"></option>
	                
    	</select>
		   <button type="submit" class="btn btn-dark m-2" > Submit</button>
	</form>  
	
      </div>
    </div>
  </div>
</div>

 

</div>
   </div>
    
       
       <script th:src="@{/jquery/jquery.min.js}"></script>  
      <script th:src="@{/popper/popper.min.js}"></script>  
      <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>   
   </body>
    
</html>